---
---
    
@import "bootstrap";

/* Fluxbox: Added for publication page columns. */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item1 {
  padding: 5px;
  width: 10%;
}

.flex-item2 {
  padding: 5px;
  width: 90%;
}

img { margin-bottom: 24px;
     margin-top: 17px;
    border-radius:2%;
}

body {
	padding-top: 70px;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}



/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
}

firstp {
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid .img2 { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px rgba(0,0,0,0) }
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #555555 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #555555 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #555555 }
#gridid .row { margin-bottom: 24px; }
#gridid .rowl1 { margin-bottom: 24px; background-color: #2a2a2a; border-radius:10px; padding-left: 10px; padding-right: 10px;}
#gridid .rowl2 { margin-bottom: 24px; background-color: #3a3a3a; border-radius:10px; padding-left: 10px; padding-right: 10px;}

/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carousel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Calendar */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
	background: #dfebed;
	font-family: 'Roboto', sans-serif;
}

.container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.calendar {
	background: #2b4450;
	border-radius: 4px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
	height: 501px;
  perspective: 1000;
	transition: .9s;
	transform-style: preserve-3d;
	width: 100%;
}

/* Front - Calendar */
.front {
	transform: rotateY(0deg);
}

.current-date {
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	padding: 30px 40px;
}

.current-date h1 {
	color: #dfebed;
	font-size: 1.4em;
	font-weight: 300;
}

.week-days {
	color: #dfebed;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	padding: 30px 40px;
}

.days {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.weeks {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}

.weeks div {
	display: flex;
	font-size: 1.2em;
	font-weight: 300;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
}

.last-month {
	opacity: .3;
}

.weeks span {
	padding: 10px;
}

.weeks span.active {
	background: #f78536;
	border-radius: 50%;
}

.weeks span:not(.last-month):hover {
	cursor: pointer;
	font-weight: 600;
}

.event {
	position: relative;
}

.event:after {
	content: '•';
	color: #f78536;
	font-size: 1.4em;
	position: absolute;
	right: -4px;
	top: -4px;
}

/* Back - Event form */

.back {
	height: 100%;
	transform: rotateY(180deg);
}

.back input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	color: #dfebed;
	font-size: 1.4em;
	font-weight: 300;
	padding: 30px 40px;
	width: 100%;
}

.info {
	color: #dfebed;
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-size: 1.2em;
	padding: 30px 40px;
}

.info div:not(.observations) {
	margin-bottom: 40px;
}

.info span {
	font-weight: 300;
}

.info .date {
	display: flex;
	justify-content: space-between;
}

.info .date p {
	width: 50%;
}

.info .address p {
	width: 100%;
}

.actions {
	bottom: 0;
	border-top: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

.actions button {
	background: none;
	border: 0;
	color: #fff;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0;
	padding: 30px 0;
	text-transform: uppercase;
	width: 50%;
}

.actions button:first-of-type {
	border-right: 1px solid rgba(73, 114, 133, .6);
}

.actions button:hover {
	background: #497285;
	cursor: pointer;
}

.actions button:active {
	background: #5889a0;
	outline: none;
}

/* Flip animation */

.flip {
  transform: rotateY(180deg);
}

.front, .back {
	backface-visibility: hidden;
}


